<h1>Photo Details</h1>

<img src="<%= (Photo.find(@show)).source %>">

<p><%= (Photo.find(@show)).caption %></p>

<td><a href="/photos">Back</a></td>
<td><a href="/photos/<%= (Photo.find(@show)).id %>/edit">Edit</a></td>
<td><a href="/delete_photo/<%= (Photo.find(@show)).id %>">Delete</a></td>

